.sidebar {
    left: 0;
}

/* .sidebar-active {
    left: -259.7px;
    animation: fadeIn 0.7s;
    display: none;
} */

/* @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

  